<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Новый розыгрыш</h1>

    <form action="/" method="post">
      <div class="input-field">
        <input id="text" name="text" type="text" class="validate" />
        <label for="text">Текст сообщения</label>
        <input id="cont" name="cont" type="number" class="validate" />
        <label for="count">Количество победителей</label>
      </div>
      <button>Создать</button>
    </form>
  </body>
</html>
